/* RESETANDO */
*{
    margin: 0;
    padding: 0;
}
/* INICIO DO CSS */
.nav{
    width: 100vw;
    padding: 8px;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

h5 {
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}
.nome {
    font-size: 30px;

}
.logo{
    width: 30px;
    height: auto;
    margin-left: 5px;
}
.logo-p{
    width: 60px;
    height: auto;
    margin-left: 15px;
}
.nav-item{
    font-family: 'Inconsolata', monospace;
    margin-left: 40px;
}
/*BAIRROS */
.bairrinhos{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top:30px;
    margin-bottom: 20px;
}
.lista-bairros{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top:30px;
    margin-bottom: 20px;
    list-style: none;
}
.bairros, .horario {
    width: 75vw;
    height: auto;
    margin-left: 12.5vw;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    bottom:0;
    position: absolute;
    width: 100vw;
}
.pezinho{
    display: flex;
    align-items: center;
    padding: 2vh;
}
.centrinho, .centrinho-lef{
    color: #fff;
    font-size: 12px;
    text-align: center;
    align-content: center;
    margin-top:10px; 
}
.centrinho-lef{
    margin-right: 20px;
}
/* MEDIA QUERIES */

@media (max-width:980px){
    footer, .pezinho{
        display: block;
        height: auto;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .centrinho, .centrinho-lef, .pezinho{
        font-size: 15px;
    }

}